---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com.hk/citations?hl=zh-CN&view_op=list_works&gmla=AH8HC4wcyz5BIfMd3jiTqur2Ixt32RFb5Z5ZMueUvD0FTcX9TYLr1HRkd_l8k9_epYEvUvk61tRhnXsnqC66ECufwsQ&user=3DjloggAAAAJ}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<!-- New style rendering if publication categories are defined -->
<body>
    <h1>First-author Papers</h1>
    <p>
    <ul>
        <li>
            <b>F. Liu</b>, T. Zhang, Z. Zhang, Y. Shen and Q. Zhang, 
            "ISAC With UWB: Reliable Decoupling and Target Sensing," in 
            <b>IEEE Transactions on Wireless Communications</b>, 
            vol. 23, no. 11, pp. 15957-15972, Nov. 2024.
        </li>
        <li>
            <b>F. Liu</b>, T. Zhang, Z. Zhang, B. Cao, Y. Shen and Q. Zhang, 
            "Fundamental Limits of Pulse Based UWB ISAC Systems: A Parameter Estimation Perspective," in 
            <b>IEEE Internet of Things Journal</b>, early access.
        </li>
        <li>
            <b>F. Liu</b>, T. Zhang, 
            "Confidence Based Asynchronous Integrated Communication and Localization Networks Using IR UWB Signals," in 
            <b>IEEE Transactions on Communications</b>.
        </li>
        <li>
            <b>F. Liu</b>, Z. Zhang, T. Zhang and Y. Shen, 
            "Simultaneous Demodulation and Channel Sensing Using IR-UWB Signals," 
            <b>IEEE GLOBECOM 2023</b>, Kuala Lumpur, Malaysia, 2023, pp. 3124-3129.
        </li>
        <li>
            <b>F. Liu</b>, T. Zhang and P. Cao, 
            "Asynchronous Integration of Communication and Localization Systems Using IR-UWB Signals," 
            <b>IEEE MILCOM 2021</b>, San Diego, CA, USA, 2021, pp. 521-527, 
            <b>invited paper</b>.
        </li>
        <li>
            <b>F. Liu</b>, J. Zhang, J. An, 
            "Simulation analysis on Scattering from a Rigid Sphere in a deep Water Wave-Guide", in 
            <b>Technical Acoustics</b>, Vol.37, no. 5, pp. 88-92, 2018.
        </li>
        <li>
            <b>F. Liu</b>, J. An, J. Zhang, G. Cheng, 
            "Modeling and simulation of bistatic acoustic scattering of targets in deep sea," in 
            <b>Technical Acoustics</b>, Vol. 37, no. 6, pp. 135-136, Dec. 2018.
        </li>
    </ul>
    </p>
    <h1>Collaborative Papers</h1>
    <p>
    <ul>
        <li>
            X. Wang, <b>F. Liu</b>, Z. Zhang, J. Zhang and T. Zhang, 
            "Tradeoffs Between Channel Sensing and Symbol Characterization in ISAC: An IR-UWB Case," 
            <b>IEEEE ICC 2024</b>, Denver, CO, USA, 2024, pp. 2907-2912.
        </li>
        <li>
            Z. Zhang, <b>F. Liu</b> and T. Zhang, 
            "Fundamental Limits on Integrated Sensing and Communications Frameworks: An IR UWB Case," 
            <b>IEEE ICC 2023</b>, Rome, Italy, 2023.
        </li>
        <li>
            Y. Zhang, <b>F. Liu</b> and T. Zhang, 
            "Decoupling Strategies for Asynchronous Integrated Communication and Localization Networks," 
            <b>IEEE VTC2023-Fall</b>, Hong Kong, China, 2023, pp. 1-6.
        </li>
        <li>
            X. Wang, <b>F. Liu</b>, Z. Zhang and T. Zhang, 
            "Fundamental Limits on Joint Delay and Doppler Characterization in UWB ISAC Systems," 
            <b>IEEE VTC2023-Fall</b>, Hong Kong, China, 2023, pp. 1-6.
        </li>
        <li>
            C. Yang, <b>F. Liu</b> and T. Zhang, 
            "MSE Based Resource Optimization in Wireless Localization Networks," 
            <b>IEEE VTC2021-Spring</b>, Helsinki, Finland, 2021, pp. 1-6.
        </li>
        <li>
            J. Chen, X. Wang, <b>F. Liu</b>, Z. Zhang, J. Xue and T. Zhang, 
            "Differential Decoupling Strategies for UWB Integrated Sensing and Communication Systems," 
            <b>IEEE VTC2023-Fall</b>, Hong Kong, China, 2023, pp. 1-6.
        </li>
        <li>
            Wang, T. Zhang and <b>F. Liu</b>, 
            "Open-Loop Communications for Centralized CAV Control Systems Using PPC," 
            <b>IEEE WCNC 2025</b>, Milan, Italy, 2025, pp. 1-6.
        </li>
    </ul>
    </p>
    </body>
    <h1>Research Videos</h1>
    <iframe src="https://player.bilibili.com/player.html?isOutside=true&aid=114426753583916&bvid=BV1eQGbzWE4o&cid=29718480686&p=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" autoplay="0" high_quality="1" allowfullscreen="true" danmaku="0" danmaku="0" style="width: 800px; height: 450px;"></iframe>
    <iframe src="https://player.bilibili.com/player.html?isOutside=true&aid=751797092&bvid=BV1xk4y1S7Hu&cid=1420486663&p=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" autoplay="0" high_quality="1" allowfullscreen="true" danmaku="0" danmaku="0" style="width: 800px; height: 450px;"></iframe>
    <iframe src="https://player.bilibili.com/player.html?isOutside=true&aid=862108530&bvid=BV16G4y1m77A&cid=945410501&p=1&autoplay=0" scrolling="no" border="0" frameborder="no" framespacing="0" autoplay="0" high_quality="1" allowfullscreen="true" danmaku="0" danmaku="0" style="width: 800px; height: 450px;"></iframe>
</body>



