---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<p>
<span class="highlight">Outstanding Teaching Assistant</span>, Harbin Institute of Technology (Shenzhen), 2023. Served as a Teaching Assistant (TA) for the core communication engineering course "Mobile Communications" for <span class="highlight">​five consecutive years</span>. Responsibilities included participating in <span class="highlight">​course experiment design​
 and providing ​student guidance​</span>. Became highly proficient in <span class="highlight">all ​teaching procedures​</span>​.
</p>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
