---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<p>
<b>Outstanding Teaching Assistant</b>, Harbin Institute of Technology (Shenzhen), 2023. Served as a Teaching Assistant (TA) for the core communication engineering course "Mobile Communications" for <b>​five consecutive years</b>(2020-2024). Responsibilities included participating in <b>​course experiment design​
 and providing ​student guidance​</b>. Became highly proficient in <b>all ​teaching procedures​</b>​.
</p>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
